<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="card">

                <h3>Register</h3>
                <hr>
                <form #registerform="ngForm" novalidate (ngSubmit)="onSubmit()">
                    <table >
                        <tbody>
        
                    <tr>
                        <td>Email:</td><td><input type="text" name="email" [(ngModel)]="user.Email"/></td>
                    </tr>
                    <tr><br></tr>
                    <tr>
                        <td>NewPassword:</td><td><input type="password" name="pwd" [(ngModel)]="user.Pass_word"/></td>
                    </tr>
                    <tr><br></tr>
                    <td>ReEnter</td><td><input type="Password" name ="placeholder"></td>
                    <tr>
                        <td><button class="btn btn-info" type="submit">Sumbit</button></td>
                    </tr>
                    </tbody>
                    </table>
                </form>
            </div>

            </div></div></div>


