 
 <body style="background-color:black">
 
<nav class="navbar navbar-dark bg-success" style="border-style:solid ">
    <div class="navbar-header">
    
 <div class="navbar-left"> 
    <img src="assets/Images/logo.jpeg" class="navbar-nav navbar-left" alt="BabyWorld" width="25%" height="25%" style="width: 185px; height: 60px; ">
    <span class="navbar-left">&nbsp;</span>

    <div class="container">
    <button type="button" class="btn btn-success btn-md navbar-right  " style= "width: 100px; height: 50px; " (click)="show2()"><h3 style=color:white><b>Login</b></h3></button>
    <span class="navbar-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;</span>
    <button type="button" class="btn btn-danger btn-md navbar-right edit-btn " style="width: 100px; height: 48px; "(click)="show3()"><b><h3 style=color:white>Logout</h3></b></button>
    
    <button type="button" class="btn btn-primary btn-md " style="width: 120px; height: 50px; "(click)="show1()"><b><h3 style=color:aqua>Register</h3></b></button> 
    
    <input type="search" class="navbar-right"  placeholder="Search for product" style="width: 314px; height: 50px">
    <span class="navbar-right">&nbsp;</span> 
    <button type="button" class="btn btn-primary btn-md navbar-right " style="width: 120px; height: 50px; "(click)="search()"><b><h3 style=color:aliceblue>Search</h3></b></button>

    
</div>

</div>
</div> 
</nav>
    
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-control">
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>
    
    <div class="carousel-inner">
        <div class="item active">
        <img src="assets/Images/project/teja1.webp" alt="shop" style="width: 5641px; height: 289px">
        </div>
        
        <div class="item">
        <img src="assets/Images/project/bhaskar5.gif" alt="shop" style="width:5641px; height: 289px">
        </div>  

        <div class="item">
        <img src="assets/Images/project/bhaskar6.gif" alt="shop" style="width:5641px; height: 289px">
        </div>
        
        <div class="item">
        <img src="assets/Images/project/Biotique.jpeg" alt="shop" style="width:5641px; height: 289px">
        </div>
        
        <div class="item">
        <img src="assets/Images/project/Bc.offer1.jpeg " alt="shop" style="width:5641px; height: 289px">
        </div>
        
        <div class="item">
        <img src="assets/Images/project/firstcry.jpeg" alt="shop" style="width:5641px; height: 289px">
        </div> 

        <div class="item">
        <img src="assets/Images/project/teja3.webp " alt="shop" style="width:5641px; height: 289px">
        </div> 
   
    </div>

    
   <a class="left carousel-control" href="#myCarousel" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left"></span>
   <span class="sr-only">Previous</span>
   </a> 
   
   <a class="right carousel-control" href="#myCarousel" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right"></span>
   <span class="sr-only">Next</span>
   </a> 

</div><br>
<marquee style="background-color:azure"  direction="left" speed="slow" behavior="loop">SHOP HERE EXCLUSIVELY FOR NEW BABY PRODUCTS WITH EXCITING OFFERS | BABY FASHION WEAR | BABY PLAYING TOYS | BABY CARE PRODUCTS | BABY GEAR PRODUTS </marquee>
<img src="assets/Images/project/bhaskar3.gif" style="width:5630px; height: 399px" alt="pet not found" class="img rounded">


<br><br> 

<div class ="container">

<h2> <span style="background-color:blanchedalmond;"> 𝙱𝙰𝙱𝚈 𝙿𝙻𝙰𝚈𝙸𝙽𝙶 𝚃𝙾𝚈𝚂 </span></h2> 
<br>
<div class="container">
<div class="col-md-3">
<img src="assets/Images/project/abcd.jpeg" style="height: 230px;width: 225px ;"alt="pet not found" class="img-rounded">
<h4>Cool Toy Set For Babys</h4>
<button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>
Price:490 RS/-

</div>

<div class="col-md-3">
<img src="assets/Images/project/actoy1.webp" style="height: 230px;width: 225px ;"alt="pet not found" class="img-rounded">
<h4>Baby Doll Set</h4>
<button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

Price:399 RS/-
</div>

<div class="col-md-3">
    <img src="assets/Images/project/carcontroler.jpg "style="height: 230px;width: 225px ;" alt="pet not found" class="img-rounded">
    <h4>Car With Remote Controller</h4>
    <button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

    Price:1999 RS/-
    </div>

    <div class="col-md-3">
        <img src="assets/Images/project/kukka1.jpeg" style="height: 230px;width: 225px ;"alt="pet not found" class="img-rounded">
        <h4>Playing Robo Dog</h4>
        <button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

        Price:1299 RS/-
        </div>
</div>

<br> 
<h2> <span style="background-color:blanchedalmond;">𝙱𝙰𝙱𝚈 𝙵𝙰𝚂𝙷𝙸𝙾𝙽 𝚆𝙴𝙰𝚁 </span></h2> 
<br>
<div class="container">
  <div class="col-md-3">
            <img src="assets/Images/project/PeachFrock.jpeg" style="height: 280px;width: 200px ;"alt="pet not found" class="img-rounded">
            <h4>ʙᴀʙʏ ᴘᴇᴀᴄʜ ꜰʀᴏᴄᴋ</h4>
            <button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

            Price: 1300 RS/-
            </div>

            <div class="col-md-3">
                <img src="assets/Images/project/cute.jpg" style="height: 280px;width: 200px ;"alt="pet not found" class="img-rounded">
                <h4>Traditional Baby Dress</h4>
                <button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

                Price:1900 RS/-
                </div>

                <div class="col-md-3">
                    <img src="assets/Images/project/Gdress2.jpeg "style="height: 280px;width: 200px ;" alt="pet not found" class="img-rounded">
                    <h4>Baby Doll Dress</h4>
                    <button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

                    Price:899 RS/-
                    </div>

                    <div class="col-md-3">
                        <img src="assets/Images/project/winter.webp"style="height: 280px;width: 200px ;" alt="pet not found" class="img-rounded">
                        <h4>Winter Dress For Baby </h4>
                        <button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

                    Price:1099 Rs/-
                        </div>


</div>

<br>


<h2> <span style="background-color:blanchedalmond;">𝗕𝗔𝗕𝗬 𝗖𝗔𝗥𝗘 𝗣𝗥𝗢𝗗𝗨𝗖𝗧𝗦</span></h2> 
<br>
<div class="container">
  <div class="col-md-3">
            <img src="assets/Images/project/bhaskar.gif" style="height: 280px;width: 200px ;"alt="pet not found" class="img-rounded">
            <h4> Baby Milk Products</h4>
            <button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

            Price:999 RS/-

            </div>

            <div class="col-md-3">
                <img src="assets/Images/project/babysoap.jpeg" style="height: 280px;width: 200px ;"alt="pet not found" class="img-rounded">
                <h4>Aveeno Baby Care Soap</h4>
                <button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

                Price:499 RS/-

                </div>

                <div class="col-md-3">
                    <img src="assets/Images/project/dove.png" style="height: 280px;width: 200px ;"alt="pet not found" class="img-rounded">
                    <h4>Baby Body Care Lotion </h4>
                    <button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

                    Price:599 RS/-

                    </div>

                    <div class="col-md-3">
                        <img src="assets/Images/project/bhaskar1.gif" style="height: 280px;width: 200px ;"alt="pet not found" class="img-rounded">
                        <h4>Baby Shampoee</h4>
                        <button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

                        Price:299 RS/-

</div>


</div>
<br>
<h2> <span style="background-color:blanchedalmond;">𝙱𝙰𝙱𝚈 𝙶𝙴𝙰𝚁 𝙿𝚁𝙾𝙳𝚄𝙲𝚃𝚂 :</span></h2> 
 <br>
<div class="container">

<div class="col-md-3">
<img src="assets/Images/project/babycycle.webp " style="height: 260px;width: 200px ;"alt="pet not found" class="img-rounded">
<h4>Baby Cycle </h4>
<button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

Price:1000 RS/-
</div>

<div class="col-md-3">
<img src="assets/Images/project/babyWalker.webp" style="height: 260px;width: 200px ;"alt="pet not found" class="img-rounded">
<h4>Baby Walker </h4>
<button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

Price:1899 RS/-
</div>

<div class="col-md-3">
    <img src="assets/Images/project/gare.jpg " style="height: 260px;width: 200px ;"alt="pet not found" class="img-rounded">
<h4> Baby SleepChair</h4>
<button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>

Price:1199 RS/-

    </div>

    <div class="col-md-3">
        <img src="assets/Images/project/chair.webp " style="height: 260px;width: 200px ;"alt="pet not found" class="img-rounded">
    <h4>Baby DeskChair</h4>
    <button class="btn btn-info" type="submit" (Click)="buy()">Buy</button>
    Price:1200 RS/-

        

       

</div>
