.card{
   
    border: none;
    width:500px;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50,50%);
    background-color: rgb(9, 101, 166);
    background: linear-gradient(90deg,(205,46%,30%,1)0%,rgb(176, 95, 9)100%);
}
.card label h3{
    color: rgb(227, 63, 208)#fff;

     
}
label{
    color: rgb(71, 192, 71);
}